body {
    background-color: black;
    color: black;
}

form {
  padding-bottom: 20px;
  padding-top: 10px;
}

#calculate, #calculate_2 {
  color: black;
}

span {
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
}

.material-icons {
  padding-left: 10px;
}
